
.demo-wrap {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.demo-wrap:before {
    content: ' ';
    background-image: url("../static/images.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
  height: 100%;
  opacity: 0.6;
    display: block;
  position: absolute;
}

.demo-content {
  position: relative;
}
